*{
    font-family: 'Open Sans', sans-serif;
}
/*-----header-----*/
.img{
    position: relative;
}
.img img{
    max-width: 100%;
    height: auto;
}
.header-nav{
    top: 0px;
    position: absolute;
    text-align: right;
    margin: 110px;
}
.header-h1{
    color: #151414;
    font-weight: 900;
    font-size: 55px;
    line-height: 76px;
    margin: 120px 150px 0px 700px;
}
.header-p{
    color: #444343;
    font-weight: 400;
    font-size: 15px;
    margin: 0px 150px 0px 700px ;
}
.btn-primary{
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background-color: #F15B22;
    color: #FFFFFF;
    border-style: none;
    font-weight: 700;
    font-size: 15px;
}


/*-----section-1-----*/
.section-1{
    display: flex;    
}
.person{
    width: 569px;
    height: 723.3px;
    margin: 40px 130px 10px;
}
.person-1{
    width: 569px;
    height: 723.3px;
    margin: 250px 139px 0px 0px;
   
}
.person-heading{
    font-size: 40px;
    color: #151414;
}
.person-p{
    font-size: 16px;
    color:#444343;
    font-weight: 400;
    
}


/*-----section-2-----*/
.my-plan{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    margin-bottom: 40px;
}
.plan-icon{
    display: flex;
    text-align: center;
    margin-left: 300px;
    gap: 112px;
    margin-bottom: 60px;
}
.icon-name{
    font-weight: 700;
    font-size: 20px;
    color: #151414;
}
.icon-work{
    font-weight: 500;
    font-size: 15px;
    color: #737272;
}





/*-----section-3-----*/
.gra-call{
    text-align: center;
    background-image: url(images/watch.png);
    position: relative;
    width: 78%;
    background-repeat: no-repeat;
    margin-left: 230px;
    border-radius: 30px;
    border-color: white;
    
}

.gra-call img{
    max-width: 100%;
    height: auto;
}
.gra-h2{
    margin: 70px 0px 0px 100px;

}
.gra-div{
    margin: 0px 0px 0px 100px;
}
.gra-hbtn{
    position: absolute;
    text-align: left;
    top: 0px;
    color: #FFFFFF;
}
.gra-btn{
    width: 120px;
    height: 50px;
    color: rgb(248, 68, 2);
    border-radius: 5px;
    border-color: white;
    margin-top: 30px;
    
}



/*-----section-4-----*/

.div-footer{
    display: flex;
    justify-content: space-between;
    background-color: #151414;
    position: absolute;
    width: 1530px;
    height: 577px;
    left: 0px;
    top: 2646.3px;
    color: #F8F8F8;

}
.div-future{
    margin-top: 100px;
    margin-left: 130px;
}
.future{
   
    font-weight: 700;
    font-size: 45px;
}
.address{
    font-weight: 400;
    font-size: 13px;
    width: 355px;
    height: 78px;
    left: 20px;
    top: 2845.3px;
}
.subscribe{
    margin-right: 150px;
    margin-top: 130px;

}
.subscribe-1{
    font-weight: 700;
    font-size: 25px;
}
.btn-secondary{
    width: 170.11px;
    height: 64px;
    left: 1046px;
    top: 2916.3px;
    background-color: #f9f7f6;
    color: #F15B22;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;
}







